* { 
    margin: 0;
    padding: 0;
}

img { 
    width: 100%;
}

body { 
    font-family: 'Poppins', sans-serif;
}

p { 
    margin-bottom: 0;
}

a { 
    text-decoration: none;
    color: black;
}

ul { 
    padding-left: 0;
}

ul li {
    list-style: none;
}

.navigation-bar { 
    background-color: #f2f2f2;
}

.navigation-bar ul li a {
    position: relative;
} 

.navigation-bar ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 1px;
    background-color: black;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.navigation-bar ul li a:hover::before {
    transform: scaleX(1);
}

.footer { 
    background-color: #f2f2f2;
}

.logo { 
    color: #1A461E;
}

.hero-section { 
    height: 60vh;
    animation: fadeIn 1.5s forwards;
}

.hero-section .container h1 { 
    margin-top: 30vh;
    font-size: 3.5em; 
    margin-bottom: 0.5em;
}

.hero-section p { 
    color: #1A461E; 
    width: 75%;
}


.hero-section .container a { 
    color: white;
    background-color: #1A461E;
    padding: 0.5em 1em; 
    border-radius: 10px;
}

.recent-works-section {
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
    animation-delay: 0.35s; 
}

.recent-header { 
    margin-bottom: 2em;
}

.recent-header h1 { 
    font-size: 2.5em;
    color: #1A461E;
}

.diagonal {
    width: 45px;
    height: 1px;
    background-color: black;
    margin-right: 10px;
    transform: rotate(-45deg);
}

.recent-work {
    margin-bottom: 5em;
    transition: 1s;
}

.recent-work:hover {
    transform: translateY(-4em);
}

.recent-work h2 { 
    color: #1A461E;
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 0.25em; 
}

.recent-work h3 { 
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 0.25em;
    border-bottom: solid 2px #e5e5e5;

}

.recent-work .proj-ts { 
    color: #808080;
}

.recent-work img { 
    margin-top: 1em; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);
}

.skills-about-section {
    animation: fadeIn 1.5s ease forwards;
}

.skills-about-section h1 { 
    margin-top: 1em;
    font-size: 3em;
    font-weight: 600;
}

.skills-about-section img { 
    width: 25%; 
    border-radius: 20px;
    max-height: 200px;
    margin-bottom: 1em;
    max-width: 140px;
}

.skills-about-section p { 
    margin-bottom: 4em;
}

.skills-about-section span { 
    font-weight: 600;
    color: #1A461E;
}

.main-skills-section h3 { 
    color: #1A461E;
}

.main-skills-section {
    margin-bottom: 4em;
}

.main-skills-section .container div {
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
}

.main-skills-section .container > div:nth-child(1) {
    animation-delay: 0.25s;
}

.main-skills-section .container > div:nth-child(2) {
    animation-delay: 0.35s;
}

.main-skills-section .container > div:nth-child(3) {
    animation-delay: 0.5s;
}

.tech-stack-section { 
    margin-bottom: 4em;
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
    animation-delay: 0.75s;
}

.tech-stack-section .tech-row {
    border: solid 1px #808080;
    border-radius: 20px;
    padding: 1em;
}

.tech-stack-section h3 { 
    font-weight: 600;
    color: #1A461E;
}

.tech-stack-section h5 {
    color: #808080;
    font-size: 1em;
    font-weight: 500;
}

.tech-stack-section ul {
    flex-wrap: wrap;
}


.projects-section h2 { 
    animation: fadeIn 1.5s forwards;
    font-size: 3em;
    font-weight: 600;
    margin-top: 2em;
}

.projects-section p.sub-header { 
    animation: fadeIn 1.5s forwards;
    font-size: 1.25em;
    color: #1A461E;
    margin-bottom: 2em;
}

.project-group { 
    background-color: #f2f2f2; 
    margin-bottom: 1.5em; 
    padding: 1.5em ;
    border-radius: 20px; 
    height: 100%;
}

.project-group img {
    transition: 0.5s ;
    transform: scale(1);
}

.projects-container a {
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
}

.projects-container > a:nth-child(1) {
    animation-delay: 0.25s;
}

.projects-container > a:nth-child(2) {
    animation-delay: 0.35s;
}

.projects-container > a:nth-child(3) {
    animation-delay: 0.5s;
}

.projects-container > a:nth-child(4) {
    animation-delay: 0.75s;
}

.projects-container > a:nth-child(5) {
    animation-delay: 1s;
}

.projects-container a:hover img {
    transform: scale(1.25);

}

.project-group span.tech-badge {
    background-color: white;
    padding: 5px 10px;
    border-radius: 15px; 
    margin-right: 5px;
    color: #808080;
    font-size: 0.9em;
}

.experience-section {
    padding-bottom: 4em;
}

.experience-section h2 { 
    font-size: 3em;
    font-weight: 600;
    margin-top: 2em; 
    animation: fadeIn 1s ease forwards;

}

.experience-section p.sub-header { 
    font-size: 1.25em;
    color: #1A461E;
    margin-bottom: 2em;
    animation: fadeIn 1s ease forwards;

}

.experience-section ul { 
    position: relative;
    padding-left: 1em;
}

.experience-section ul::before { 
    content: '';
    background-color: #648b68;
    height: 0; 
    width: 5px;
    position: absolute;
    left: 0;
    top: 0;
    animation: grow 0.8s ease forwards;
    animation-delay: 0.2s;

}

.experience-section ul li {
    margin-bottom: 2.5em;
}

.experience-section ul li {
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
}

.experience-section ul > li:nth-child(1) { animation-delay: 0.16s; }
.experience-section ul > li:nth-child(2) { animation-delay: 0.32s; }
.experience-section ul > li:nth-child(3) { animation-delay: 0.48s; }
.experience-section ul > li:nth-child(4) { animation-delay: 0.64s; }
.experience-section ul > li:nth-child(5) { animation-delay: 0.8s; }

.experience-section ul li h4 { 
    position: relative;
    font-weight: 400;
}

.experience-section ul li h4::after { 
    content: '';
    position: absolute;
    left: -20px;
    top: 5px;
    width: 15px;
    height: 15px;
    background-color: #1A461E;
}

.experience-section ul li h4 span {
    font-weight: 600;
}


.contact-section .container { 
    height: 80vh;
}

.contact-section h2 { 
    font-size: 3em;
    font-weight: 600;
    margin-top: 2em; 
    animation: fadeIn 0.6s ease-out forwards;
}

.contact-section p { 
    font-size: 1.25em;
    color: #1A461E;
    margin-bottom: 2em;
    animation: fadeIn 0.6s ease-out forwards;
}

.contact-group-container div {
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
}

.contact-group-container > div:nth-child(1) { animation-delay: 0.10s; }
.contact-group-container > div:nth-child(2) { animation-delay: 0.18s; }
.contact-group-container > div:nth-child(3) { animation-delay: 0.26s; }
.contact-group-container > div:nth-child(4) { animation-delay: 0.34s; }
.contact-group-container > div:nth-child(5) { animation-delay: 0.42s; }
.contact-group-container > div:nth-child(6) { animation-delay: 0.50s; }

.contact-group { 
    margin-bottom: 1em;
    border-bottom: solid 1px #f2f2f2;
    padding-bottom: 0.5em;
}

.contact-group h5 { 
    color: #808080;
    font-size: 1.25em;
    margin-bottom: 0;
}

.contact-group a { 
    font-size: 1.25em;
    font-weight: 500;
}

@media only screen and (min-width: 576px) { 
    .hero-section .container h1 { 
        font-size: 4.5em;
    }

    .hero-section p { 
        width: 50%;
        max-width: 350px;
    }

    .recent-header h1 { 
        font-size: 3em;
    }
}

@media only screen and (min-width: 768px) { 
    .hero-section .container h1 { 
        font-size: 5.5em;
    }

    .recent-header h1 { 
        font-size: 3.5em;
    }

    .recent-works-container { 
        display: flex; 
        align-items: flex-start; 
        justify-content: flex-end; 
        gap: 30px; 
        padding-bottom: 4em;
    }

    .recent-border {
        width: 95%;
        height: 2px;
        background-color: #f2f2f2;
        margin-bottom: 2em;
    }

    .recent-work {
        text-align: right;
    }

    .recent-work h3 {
        border: none;
    }

    .recent-work img {
        max-width: 300px;
    }

    .skills-about-section img {
        width: 20%;
    }
}

@media only screen and (min-width: 900px) { 
    .hero-section .container h1 {
        font-size: 6em;
    }

    .main-skills-section .container { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .tech-row {
        width: 50%;
    }

    .projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 1em;
        padding-bottom: 3em;
    }

    .project-group {
        max-height: 700px;
    }

    .project-group img {
        max-height: 500px;
    }

    .contact-section p {
        margin-bottom: 6em;
    }

    .contact-group-container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        row-gap: 3em;
        column-gap: 4em;
    }

}

@media only screen and (min-width: 1024px) { 
    .hero-section .container h1 {
        font-size: 6.5em;
    }
}

@media only screen and (min-width: 1230px) { 
    .hero-section .container h1 {
        font-size: 7.5em;
    }

    .recent-border {
        width: 90%;
    }
}

@media only screen and (min-width: 1600px) { 
    .hero-section .container h1 {
        font-size: 8.5em;
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes grow {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}